<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group chat application</title>
    <link rel="stylesheet" href="../css/mainPage.css">
</head>
<body>
    <div id="grid-layout">
   <header id="header">
    <h1>Group chat application</h1>
    
   </header>
<main id="main">
    <div id="messageBlock">
        <p>Hello man</p>
        <p>hello to you to</p>
        <p>dadadididadad</p>
      
        <form action="" id="messageForm">
            <input type="text" name="text" id="messageInput">
            <button type="submit" id="messageSubmitBtn">Send</button>
        </form>
    
        
    </div>

</main>  
   <footer id="footer">
    <p>Made by abhinav</p>
   </footer>
</div>
</body>
</html>