<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group chat application</title>
    <link rel="stylesheet" href="../css/mainPage.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</head>
<body>
    <div id="grid-layout">
   <header id="header">
    <h1>Group chat application</h1>
    
   </header>
<main >
    <div id="userDetails">
        <p id="userName"></p>

    </div>
  
<div id="main">
    <form id="newGroupForm">
        
        <label id="groupNameLabel"for="groupName">enter group name</label>
        <input id="groupName"type="text">
        <button id="groupNameSubmit">Submit</button>
        <button id="groupNameCancel">Cancel</button>
        

    </form>
    
    <div id="groupsDiv">
        <ul id="groups">
            
        </ul>
        
        <button id="newGroup">Create a new group</button>
        
    </div>

    <div id="messageBlock">
        <div id="selectedGroupDiv">
            <p id="selectedGroupName"></p>
            <button id="addMember">Add member</button>
        </div>
        <form action="" id="addMemberForm">
            <label for="addMemberId">Enter User Phone Number</label>
            <input type="text" id="addMemberId">
            <div id="buttons">
            <button id="addMemberSubmit">Add to group</button>
            <button id="addMemberCancel">Cancel</button>
        </div>
        </form>

        
        <ul id="allMessages"></ul>
        <form action="" id="messageForm">
           
         <input type="text" name="text" id="messageInput" autocomplete="off">
            <button type="submit" id="messageSubmitBtn">Send</button>
        </form>
    
    
        
    </div>

    <div id="usersDiv">
        <ul id="onlineUsers">
            <li id="online">Online Users</li>
        </ul>

    </div>

</div>

</main>  
  
</div>
<script src="../js/mainPage.js"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</body>
</html>